In [1]:
#To get the length of a string, use the len() function.

In [2]:
a = "Hello, World!"
print(len(a))

13

In [3]:
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [4]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [5]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [6]:
#Slicing
#You can return a range of characters by using the slice syntax.

#Specify the start index and the end index, separated by a colon, to return a part of the string.

In [7]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [8]:
#Slice From the Start
#By leaving out the start index, the range will start at the first character:

In [9]:
b = "Hello, World!"
print(b[:5])

Hello

In [10]:
#Slice To the End
#By leaving out the end index, the range will go to the end:

In [11]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [12]:
#Negative Indexing
#Use negative indexes to start the slice from the end of the string:

In [13]:
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

In [14]:
#The upper() method returns the string in upper case:

In [15]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [16]:
#The lower() method returns the string in lower case:

In [17]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [18]:
#Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [19]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [20]:
#The replace() method replaces a string with another string:

In [21]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [22]:
#The split() method returns a list where the text between the specified separator becomes the list items.

In [23]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [27]:
a= "age, height"
print(a.split(","))

['age', ' height']

In [28]:
#To concatenate, or combine, two strings you can use the + operator.

In [29]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [30]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [31]:
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [35]:
age = "36"
print( "My name is John, I am " + age)

My name is John, I am 36

In [36]:
#A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [37]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [38]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [39]:
#A placeholder can include a modifier to format the value.

#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [40]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [41]:
#Perform a math operation in the placeholder, and return the resul

In [42]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [43]:
#Escape Character
#To insert characters that are illegal in a string, use an escape character.

#An escape character is a backslash \ followed by the character you want to insert.

#An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [44]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [47]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (4106093343.py, line 1)

In [48]:
txt = "We are the so-called \"Vikings\" from the north."

In [49]:
print(txt)

We are the so-called "Vikings" from the north.

In [50]:
#capitalize()	Converts the first character to upper case
#casefold()	Converts string into lower case
#center()	Returns a centered string
#count()	Returns the number of times a specified value occurs in a string
#encode()	Returns an encoded version of the string
#endswith()	Returns true if the string ends with the specified value
#expandtabs()	Sets the tab size of the string
#find()	Searches the string for a specified value and returns the position of where it was found
#format()	Formats specified values in a string
#format_map()	Formats specified values in a string
#index()	Searches the string for a specified value and returns the position of where it was found
#isalnum()	Returns True if all characters in the string are alphanumeric
#isalpha()	Returns True if all characters in the string are in the alphabet
#isascii()	Returns True if all characters in the string are ascii characters
#isdecimal()	Returns True if all characters in the string are decimals
#isdigit()	Returns True if all characters in the string are digits
#isidentifier()	Returns True if the string is an identifier
#islower()	Returns True if all characters in the string are lower case
#isnumeric()	Returns True if all characters in the string are numeric
#isprintable()	Returns True if all characters in the string are printable
#isspace()	Returns True if all characters in the string are whitespaces
#istitle()	Returns True if the string follows the rules of a title
#isupper()	Returns True if all characters in the string are upper case
#join()	Joins the elements of an iterable to the end of the string
#ljust()	Returns a left justified version of the string
#lower()	Converts a string into lower case
#lstrip()	Returns a left trim version of the string
#maketrans()	Returns a translation table to be used in translations
#partition()	Returns a tuple where the string is parted into three parts
#replace()	Returns a string where a specified value is replaced with a specified value
#rfind()	Searches the string for a specified value and returns the last position of where it was found
#rindex()	Searches the string for a specified value and returns the last position of where it was found
#rjust()	Returns a right justified version of the string
#rpartition()	Returns a tuple where the string is parted into three parts
#rsplit()	Splits the string at the specified separator, and returns a list
#rstrip()	Returns a right trim version of the string
#split()	Splits the string at the specified separator, and returns a list
#splitlines()	Splits the string at line breaks and returns a list
#startswith()	Returns true if the string starts with the specified value
#strip()	Returns a trimmed version of the string
#swapcase()	Swaps cases, lower case becomes upper case and vice versa
#title()	Converts the first character of each word to upper case
#translate()	Returns a translated string
#upper()	Converts a string into upper case
#zfill()	Fills the string with a specified number of 0 values at the beginning

In [51]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [53]:
#The count() method returns the number of times a specified value appears in the string.
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [54]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [55]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [56]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [57]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [59]:
#Check if all the characters in the text are alphanumeric:The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

#Example of characters that are not alphanumeric: (space)!#%&? etc
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [60]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [61]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [62]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [63]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [64]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [65]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [66]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [67]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [68]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [69]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [70]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [71]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [72]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [73]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [74]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [75]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [76]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [77]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [78]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [79]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [80]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [81]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [82]:
#Return the string without any whitespace at the beginning or the end.


txt = " Hello World "
x = txt.strip()

In [83]:
print(x)

Hello World