In [1]:
print("hello world")

hello world

In [2]:
x=5

In [3]:
x

5

In [8]:
y={1,2,3}

In [9]:
print(type(y))

<class 'set'>

In [10]:
#built in function

In [11]:
x=abs(-7.25)
#absolute value of a number

In [12]:
x

7.25

In [16]:
#any function return true if the item is true
list=[False,True,False]

In [18]:
x=any(list)

In [19]:
x

True

In [20]:
#iterable= any iterable object (list,tuple,dictionary)

In [21]:
myset={0,1,0}

In [22]:
x=any(myset)

In [24]:
x

True

In [25]:
#Python has no command for declaring a variable.

#A variable is created the moment you first assign a value to it.

In [26]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [27]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [28]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [29]:
#If you want to specify the data type of a variable, this can be done with casting.

In [30]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [31]:
x

'3'

In [32]:
y

3

In [33]:
z

3.0

In [34]:
#You can get the data type of a variable with the type() function.

In [35]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [36]:
#String variables can be declared either by using single or double quotes:

In [37]:
x = "John"
# is the same as
x = 'John'

In [38]:
x

'John'

In [39]:
x

'John'

In [40]:
#Variable names are case-sensitive.

In [41]:
a = 4
A = "Sally"
#A will not overwrite a

In [42]:
a

4

In [43]:
A

'Sally'

In [44]:
#A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)
#A variable name cannot be any of the Python keywords.

In [45]:
myvar = "John"
my_var = "John"
_my_var = "John"
 = "John"
MYVAR = "John"
myvar2 = "John"

In [46]:
myvar

'John'

In [47]:
my_var

'John'

In [48]:
_my_var

'John'

In [49]:
myVar

'John'

In [50]:
myvar2

'John'

In [51]:
MYVAR

'John'

In [52]:
#Illegal variable names:

In [53]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [54]:
#Camel Case
#Each word, except the first, starts with a capital letter

In [55]:
myVariableName = "John"

In [56]:
myVariableName

'John'

In [57]:
#Pascal Case
#Each word starts with a capital letter:

In [58]:
MyVariableName = "John"

In [59]:
MyVariableName

'John'

In [60]:
#Snake Case
#Each word is separated by an underscore character:

In [61]:
my_variable_name = "John"

In [62]:
my_variable_name

'John'

In [63]:
#Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line

In [64]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [65]:
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:

In [66]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [67]:
#Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [68]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [69]:
#The Python print() function is often used to output variables.

In [70]:
x = "Python is awesome"
print(x)

Python is awesome

In [71]:
#In the print() function, you output multiple variables, separated by a comma:

In [72]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [74]:
x= "ram"
y= "21"
z= "bbsr"
print(x,y,z)

ram 21 bbsr

In [75]:
#You can also use the + operator to output multiple variables:

In [76]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [77]:
#For numbers, the + character works as a mathematical operator:

In [78]:
x = 5
y = 10
print(x + y)

15

In [79]:
#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [80]:
x = 5
y = "John"
print(x, y)

5 John

In [81]:
#Global Variables
#Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

#Global variables can be used by everyone, both inside of functions and outside

In [82]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [85]:
y="ramyana"

def myfunc():
    print("ram in " + y)

myfunc()

ram in ramyana

In [86]:
#Create a variable inside a function, with the same name as the global variable

In [87]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [90]:
# Define a tuple called 'exam_st_date' containing the exam start date in the format (day, month, year)
exam_st_date = (11, 12, 2014)

# Print the exam start date using string formatting
# The '%i' placeholders are filled with the values from the 'exam_st_date' tuple
print("The examination will start from : %i / %i / %i" % exam_st_date)

The examination will start from : 11 / 12 / 2014

In [91]:
# Import the 'date' class from the 'datetime' module
from datetime import date

# Define a start date as July 2, 2014
f_date = date(2014, 7, 2)

# Define an end date as July 11, 2014
l_date = date(2014, 7, 11)

# Calculate the difference between the end date and start date
delta = l_date - f_date

# Print the number of days in the time difference
print(delta.days)

9

In [92]:
# Define the value of pi
pi = 3.1415926535897931

# Define the radius of the sphere
r = 6.0

# Calculate the volume of the sphere using the formula
V = 4.0/3.0 * pi * r**3

# Print the calculated volume of the sphere
print('The volume of the sphere is: ', V)

The volume of the sphere is:  904.7786842338603

In [95]:
# Prompt the user to enter a number and convert the input to an integer
num = int(input("Enter a number: "))

# Calculate the remainder when the number is divided by 2
mod = num % 2

# Check if the remainder is greater than 0, indicating an odd number
if mod > 0:
    # Print a message indicating that the number is odd
    print("This is an odd number.")
else:
    # Print a message indicating that the number is even
    print("This is an even number.")

Enter a number:  5

This is an odd number.

In [94]:
3

3