In [ ]:
#You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

In [ ]:
x

In [1]:
x=5

In [2]:
print(x)

5

In [4]:
x

5

In [5]:
x = 5
print(type(x))

<class 'int'>

In [8]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None

In [9]:
x

In [10]:
x = "Hello World"

In [11]:
print(type(x))

<class 'str'>

In [12]:
x = ["apple", "banana", "cherry"]

In [13]:
print(type(x))

<class 'list'>

In [14]:
x = range(6)

In [15]:
print(type(x))

<class 'range'>

In [16]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6) #range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	#bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

In [17]:
x = bytes(5)

In [18]:
print(type(x))

<class 'bytes'>

In [19]:
x = dict(name="John", age=36)	#dict

In [20]:
print(type(x))

<class 'dict'>

In [21]:
#Python Numbers
#There are three numeric types in Python:

##int
##float
##complex

In [22]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [23]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [24]:
#Int Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [25]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [26]:
#Float or "floating point number" is a number, positive or negative, containing one or more decimals.

In [27]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [28]:
###Float can also be scientific numbers with an "e" to indicate the power of 10.

In [29]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
##Complex numbers are written with a "j" as the imaginary part:

In [31]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [32]:
#####You can convert from one type to another with the int(), float(), and complex() methods:

In [33]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [34]:
#Import the random module, and display a random number between 1 and 9:

In [35]:
import random

print(random.randrange(1, 10))

8

In [36]:
import random

print(random.randrange(1, 10))

9

In [37]:
##Specify a Variable Type
##There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

##Casting in python is therefore done using constructor functions:

##int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
##float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
##str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [38]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [39]:
print(x)

1

In [40]:
print(y)

2

In [41]:
print(z)

3

In [42]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [43]:
print(z)

3.0

In [44]:
print(w)

4.2

In [45]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [46]:
print(z)

3.0

In [47]:
print(x)

s1

In [48]:
print(y)

2

In [49]:
###Strings in python are surrounded by either single quotation marks, or double quotation marks.

##'hello' is the same as "hello".

##You can display a string literal with the print() function:

In [50]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [51]:
##Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [52]:
a = "Hello"
print(a)

Hello

In [53]:
b="hari"
print(b)

hari

In [54]:
##You can assign a multiline string to a variable by using three quotes:

In [55]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [56]:
###Strings are Arrays
###Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

###However, Python does not have a character data type, a single character is simply a string with a length of 1.

###Square brackets can be used to access elements of the string.

In [57]:
a = "Hello, World!"
print(a[1])

e

In [58]:
a = "Hello, World!"
print(a[2])

l

In [59]:
a = "Hello, World!"
print(a[4])

o

In [60]:
###Looping Through a String
##Since strings are arrays, we can loop through the characters in a string, with a for loo

In [61]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [62]:
for y in "education":
    print(y)

e
d
u
c
a
t
i
o
n

In [63]:
###The break Statement
##With the break statement we can stop the loop before it has looped through all the items:

In [67]:
##With the break statement we can stop the loop before it has looped through all the items:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [66]:
##Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [68]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next

In [69]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [70]:
##To loop through a set of code a specified number of times, we can use the range() function,
##The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [71]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [72]:
##The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [73]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [74]:
##The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [75]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [76]:
#Break the loop when x is 3, and see what happens with the else block:

In [77]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [78]:
###A nested loop is a loop inside a loop.

##The "inner loop" will be executed one time for each iteration of the "outer loop":

In [79]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [80]:
###for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [81]:
for x in [0, 1, 2]:
  pass

In [82]:
x

2

In [83]:
### program 1: Print first 10 natural numbers
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [84]:
i= 1
while i <= 20:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [85]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [86]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number  50

Sum is:  1275

In [87]:
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number  40

Sum is: 820

In [88]:
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

Enter number  50

Sum is: 1275